body {
	color: #825319;
}
a {
	color: #825319;
}
a:hover,
a:focus {
	color: #C17A24;
}
h1, h2, h3, h4, h5, h6 {
	color: #C17A24;
}
p {
	color: #825319;	
}
p span {
	color: #C17A24;
}
input[type="text"],
textarea {
	color: #8B572A;
	background: rgba(31,25,17,0.80);
	border: 1px solid #4A2D14;
}

header .user-group .profile-img {
	border: 2px solid #704715;
}
header .user-group .profile-img:hover {
	border-color: #C17A24;
}
header .user-group .submit-btn {
	color: #704517;
	border: 2px solid #704715;
}
header .user-group .submit-btn:hover {
	color: #C17A24;
	border-color: #C17A24;
}
.nav > li > a:hover,
.nav > li > a:focus {
	color: #C17A24;
}
.nav > li.active > a {
	color: #C17A24;
}

/* ----- Forms ----- */
.form-control {
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
}
.form-control:focus {
	border-color: #8B572A;
	outline: 0;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder { 
	color: #5E4322; 
	vertical-align: middle;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
.form-control:-moz-placeholder { 
	color: #5E4322; 
}
input::-moz-placeholder,
textarea::-moz-placeholder,
.form-control::-moz-placeholder { 
	color: #5E4322; 
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder
.form-control:-ms-input-placeholder { 
	color: #5E4322; 
}

/* ----- Buttons ----- */

.btn-default {
	color: #825319;
	background-color: transparent;
	border: 1px solid #825319;
}
.btn-default:focus,
.btn-default.focus {
	color: #C17A24;
	background-color: transparent;
	border: 1px solid #C17A24;
}
.btn-default:hover {
	color: #C17A24;
	background-color: transparent;
	border: 1px solid #C17A24;
}
.btn-default:active,
.btn-default.active {
	color: #C17A24;
	background-color: transparent;
	border: 1px solid #C17A24;
}
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus {
	color: #C17A24;
	background-color: transparent;
	border: 1px solid #C17A24;
}
.btn-default:active,
.btn-default.active {
	background-image: none;
}
.btn-primary {
	color: #000;
	background-color: #825319;
	border: 1px solid #C17A24;
}
.btn-primary:focus,
.btn-primary.focus {
	color: #000;
	background-color: #C17A24;
	border: 1px solid #F99D41;
}
.btn-primary:hover {
	color: #000;
	background-color: #C17A24;
	border: 1px solid #F99D41;
}
.btn-primary:active,
.btn-primary.active {
	color: #000;
	background-color: #C17A24;
	border: 1px solid #F99D41;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
	color: #000;
	background-color: #C17A24;
	border: 1px solid #F99D41;
}
.btn-primary:active,
.btn-primary.active {
	background-image: none;
}
.btn-vote .counter {
	color: #000;
	border-right: 1px solid #C17A24;
}
.btn-vote:hover .counter {
	border-color: #F99D41;
}

.post-category {
	border: 1px solid #825319;
}

.load-more a:hover {
	color: #C17A24;
}
.dropdown-menu {
	background: rgba(31,25,17,0.90);
	border: 1px solid rgba(139,87,42,0.50);
}
.nav .dropdown-menu {
	border-top: none;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 2px;
}
.dropdown-menu > li > a {
	color: #825319;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #C17A24;
	background-color: rgba(31,25,17,1);
}