body {
	color: #74675A;
}
.bg-solid {
	background: #211C16;
}
a {
	color: #938579;
}
a:hover,
a:focus {
	color: #B8A378;
}
h1, h2, h3, h4, h5, h6 {
	color: #B8A378;
}
p {
	color: #74675A;	
}
p.notice {
	color: #4B4640;
}
p span {
	color: #B8A378;
}
input[type="text"],
input[type="password"],
textarea {
	color: #B8A378;
	background: rgba(31,25,17,0.80);
	border: 1px solid #3E3A36;
}
.fullscreen .window-content input[type="text"] {
	border: 0;
	border-bottom: 1px dotted #74675A;
}
.img-circle {
	border: 2px solid #74675A;
}
.img-circle:hover {
	border-color: #B8A378;
}
hr {
	border: 0;
	border-top: 1px dotted #74675A;
}
header {
	background: #211C16;
	border-bottom: 1px solid rgba(141, 125, 110, 0.5);
}
header .user-group .submit-btn {
	color: #74675A;
	border: 2px solid #74675A;
}
header .user-group .submit-btn:hover {
	color: #B8A378;
	border-color: #B8A378;
}
.well {
	color: #211C16;
	background: #4D4943;
	border: 1px solid #B8A378;
}
.navbar {
	background: rgba(31,25,17,0.80);
	border-bottom: 1px solid rgba(141, 125, 110, 0.5);
}
.nav > li > a:hover,
.nav > li > a:focus {
	color: #B8A378;
}
.nav > li.active > a {
	color: #B8A378;
}
.nav .dropdown-menu {
	border-top: none;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 2px;
}
.dropdown-menu {
	background: rgba(31,25,17,0.80);
	border: 1px solid rgba(141, 125, 110, 0.5);
}
.dropdown-menu > li > a {
	color: #74675A;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #B8A378;
	background-color: rgba(31,25,17,1);
}
.current-post-sort {
	color: #B8A378 !important;
	font-weight: 600;
}
.submit-window .nav-tabs > li > a,
#profile-main .nav-tabs > li > a {
	border-bottom: 2px solid rgba(124, 110, 95, 0.55);
}
.submit-window .nav-tabs > li.active > a,
.submit-window .nav-tabs > li.active > a:focus,
.submit-window .nav-tabs > li.active > a:hover,
#profile-main .nav-tabs > li.active > a,
#profile-main .nav-tabs > li.active > a:focus,
#profile-main .nav-tabs > li.active > a:hover {
	color: #B8A378;
	border-bottom: 2px solid #B8A378;
}



/* ----- Form Styles ----- */

.form-control {
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
}
.form-control:focus {
	border-color: #574D44;
	outline: 0;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder { 
	color: #4D4943; 
	vertical-align: middle;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
.form-control:-moz-placeholder { 
	color: #4D4943; 
}
input::-moz-placeholder,
textarea::-moz-placeholder,
.form-control::-moz-placeholder { 
	color: #4D4943; 
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder
.form-control:-ms-input-placeholder { 
	color: #4D4943; 
}

/* ----- Buttons Styles ----- */

.btn-default {
	color: #74675A;
	background-color: transparent;
	border: 1px solid #74675A;
}
.btn-default:focus,
.btn-default.focus {
	color: #B8A378;
	background-color: transparent;
	border: 1px solid #B8A378;
}
.btn-default:hover {
	color: #B8A378;
	background-color: transparent;
	border: 1px solid #B8A378;
}
.btn-default:active,
.btn-default.active {
	color: #B8A378;
	background-color: transparent;
	border: 1px solid #B8A378;
}
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus {
	color: #B8A378;
	background-color: transparent;
	border: 1px solid #B8A378;
}
.btn-default:active,
.btn-default.active {
	background-image: none;
}
.btn-primary {
	color: #000;
	background-color: #74675A;
	border: 1px solid #B8A378;
}
.btn-primary:focus,
.btn-primary.focus {
	color: #000;
	background-color: #B6AD9C;
	border: 1px solid #E5E5E5;
}
.btn-primary:hover {
	color: #000;
	background-color: #B6AD9C;
	border: 1px solid #E5E5E5;
}
.btn-primary:active,
.btn-primary.active {
	color: #000;
	background-color: #B6AD9C;
	border: 1px solid #E5E5E5;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
	color: #000;
	background-color: #B6AD9C;
	border: 1px solid #E5E5E5;
}
.btn-primary:active,
.btn-primary.active {
	background-image: none;
}
.btn-vote .counter {
	color: #000;
	border-right: 1px solid #B8A378;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}
.btn-vote:hover .counter {
	border-color: #E5E5E5;
}
/* ----- Post List Styles ----- */
.post-list .title {
	color: #B8A378;
}
.post-item,
.follower-item {
	background: #211C16;
	border: 1px solid #645840;
}
.post-item:hover,
.follower-item:hover {
	border: 1px solid #7D725C;
	box-shadow: 0px 0px 15px 0px rgba(141,119,92,0.70);
}

.post-upvote {
	color: #B8A378;
}
.post-upvote:hover,
.post-upvote:focus {
	color: #B8A378;
}
.post-thumbnail {
	border-right: 1px solid #645840;
	border-left: 1px solid #645840;
}
.post-category {
	border: 1px solid #74675A;
}
.post-title {
	color: #B8A378;
}
.post-details .comments:hover {
	color: #B8A378;
}

/* ----- Post Page Styles ----- */

#post-header h1 span {
	color: #74675A;
}
.post-meta .category {
	color: #74675A;
	background-color: transparent;
	border: 1px solid #74675A;
}
#post-details {
	background: #211C16;
	border-top: 1px solid #645840;
}
#post-details h3 {
	color: #574D44;
}
#post-details li.active h3 {
	color: #B8A378;
}
#post-details aside {
	background: #2C2621;
	border-left: 1px solid #645840;
}
#post-details h4,
#post-details aside label,
.comment-filter a {
	color: #574D44;
}
.video {
	border: 1px solid #645840;
}
.no-data {
	border: 1px dashed #645840;
}
.post-comment .user-name,
.comment-reply .user-name {
	color: #B8A378;
}
.comment-actions a,
.comment-actions span.comment-time,
.reply-time {
	color: #4D4943;
}
.comment-filter a:hover,
.comment-filter a:focus {
	color: #B8A378;
	text-decoration: none;
}
.similar-post:hover {
	background: #211C16;
}
.similar-post-thumnail,
.similar-post-header {
	border: 1px solid #645840;
}
.similar-post-header span,
.similar-post p {
	color: #655B4E;
}

/* ----- Profile Styles ----- */

.profile-title > b{ 
	color: #D3CDC5;
}
.profile-subtitle {
	color: #574D44;
}
.profile-social a {
	color: #4D4943;
}
.profile-social a:hover {
	color: #B8A378;
}
.follower-item b {
	color: #D3CDC5;
}

/* ----- Submit Post Window Styles ----- */

.submit-window .modal-content {
	background: #211C16;
	border: 1px solid #645840;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 3px;
}
.submit-window .input-field label {
	color: #655B4E;
}
.input-field.date-select button {
	border: 1px solid #3E3A36;
}

/* ----- Settings styles ----- */
#settings-page select {
	color: #B8A378;
	background: rgba(31,25,17,0.80);
	border: 1px solid #3E3A36;
}

/* ----- System Elements Styles ----- */

.spinner {
	border: 4px solid #74675A;
}
