@import 'brown.css';

@font-face {
    font-family: 'LucidaGrande';
    src: url('LucidaGrande.eot');
    src: url('LucidaGrande.eot?#iefix') format('embedded-opentype'),
         url('LucidaGrande.woff') format('woff'),
         url('LucidaGrande.ttf') format('truetype'),
         url('LucidaGrande.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'LucidaSansUnicode';
    src: url('LucidaSansUnicode.eot');
    src: url('LucidaSansUnicode.eot?#iefix') format('embedded-opentype'),
         url('LucidaSansUnicode.woff') format('woff'),
         url('LucidaSansUnicode.ttf') format('truetype'),
         url('LucidaSansUnicode.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}

body {
	font-size: 15px;
	font-family: LucidaSansUnicode;
	background-image: url(../images/background-img.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100%;
	background-color: #000000;
}
body .layer {
	background-color: rgba(0,0,0,0.75);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -999;
}
header {
	min-height: 70px;
	background: #221306;
	border-radius: none;
	border-bottom: 1px solid #4A2D13;
	box-shadow: 0px 2px 4px 0px #000000;
}
	header .logo {
		float: left;
		padding: 20px 15px;
		color: #C17A24;
	}
	header .logo:hover {
		text-decoration: none;
	}
	header .search {
		display: inline-block;
		float: right;
		width: 272px;
		margin: 18px 18px 18px 0;
	}
		header .search input {
			background: rgba(31,25,17,0.80);
			border: 1px solid #4A2D14;
			border-radius: 3px;
			font-size: 12px;
			color: #704715;
			line-height: 18px;
		}
	header .form-group {
		margin-bottom: 0;
	}
	header .user-group {
		float: right;
		margin: 18px 0;

	    display: -webkit-box;
	    display: -moz-box;
	    display: box;

	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;

	    -webkit-box-align: center;
	    -moz-box-align: center;
	    box-align: center;

	    -webkit-align-items: center;
	    -moz-align-items: center;
	    -ms-align-items: center;
	    align-items: center;
	}
		header .user-group .profile-img {
			border: 2px solid #704715;
			width: 34px;
			margin-right: 12px;
			cursor: pointer;
			-webkit-transition-duration: .3s;
    		transition-duration: .3s;
		}
		header .user-group .profile-img:hover {
			border-color: #C17A24;
		}
			header .user-group ul.user-menu {
				min-width: 120px;
				margin-top: 5px;
			}
		header .user-group .submit-btn {
		    color: #704517;
		    font-size: 18px;
		    border: 2px solid #704715;
		    border-radius: 50%;
		    width: 33px;
		    height: 32px;
		    display: inline-block;
		    cursor: pointer;
		    flex: 1;
		    -webkit-transition-duration: .3s;
    		transition-duration: .3s;
		}
		header .user-group .submit-btn:hover {
			color: #C17A24;
			border-color: #C17A24;
		}
		header .user-group .submit-btn i {
			line-height: 30px;
			padding: 8px;
		}
	header .login-btn {
		float: right;
		margin: 18px 0;
	}
.navbar {
	background: rgba(31,25,17,0.90);
	min-height: 60px;
	border-bottom: 1px solid rgba(139,87,42,0.50);
	border-radius: 0;
}
.navbar .caret {
	margin-left: 5px;
}
.navbar-nav > li > a {
	padding: 18px 20px;
	cursor: pointer;
}
.post-list .title {
	font-family: LucidaGrande;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0 30px;
	color: #C17A24;
	line-height: 18px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}
.post-item,
.follower-item {
	height: 100px;
	background: #221306;
	border: 1px solid #4A2D13;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 3px;
	padding: 0;
	margin-bottom: 10px;

	/* background: #2B1105; */

    display: -webkit-box;
    display: -moz-box;
    display: box;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.follower-item {
	padding: 15px;
	margin-bottom: 0;
}
.post-item:hover,
.follower-item:hover {
	border: 1px solid #663910;
	box-shadow: 0px 0px 15px 0px rgba(193,122,36,0.50);
}
.follower-item:hover {
	cursor: pointer;
}
.current-post-sort {
	color: #C17A24 !important;
	font-weight: 600;
}
.post-upvote {
	display: inline-block;
	text-align: center;
	width: 40px;
	margin: 0 5px;
	color: #C17A24;

	display: -webkit-box;
    display: -moz-box;
    display: box;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;

    position: relative;
}
	.post-upvote:hover,
	.post-upvote:focus {
		text-decoration: none;
		cursor: pointer;
		color: #C17A24;
		opacity: 0.7;
	}
	.vote-counter {
		font-size: 13px;
		margin-top: 1px;
	}
.post-thumbnail {
	display: inline-block;
	max-width: 176px;
	height: 98px;
	margin-right: 20px;
	border-right: 1px solid #4A2D13;
	border-left: 1px solid #4A2D13;
	box-shadow: inset 0px 0px 20px 3px #000000;
	overflow: hidden;
}
.post-thumbnail img {
}
.post-desc {
	display: inline-block;
	-webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
	.post-category {
	    text-transform: uppercase;
	    padding: 5px 10px 3px;
	    font-size: 11px;
	    margin: 0 8px 7px 0;
	}
	.post-title {
		line-height: 26px;
		color: #C17A24;
		display: inline-block;
		font-family: LucidaGrande;
		font-size: 18px;
	}
	.post-title span {
		font-size: 14px;
		color: #704715;
	}
	.post-source {
		font-size: 12px;
	}
	a.post-title:hover {
		text-decoration: none;
		color: #C17A24;
	}
	.post-meta li {
		position: relative;
		display: block;
		float: left;
		list-style: none;
		margin-right: 10px;
	}
.post-details {
	margin-right: 30px;
}
	.post-details img {
		border: 2px solid #704715;
		margin-right: 15px;
		width: 48px;
		cursor: pointer;
	}
		.post-details img:hover {
			border-color: #C17A24;
		}
	.post-details .comments {
		display: inline-block;
		cursor: pointer;
		line-height: 50px;
	}
		.post-details .comments:hover {
			color: #C17A24;
		}
	.post-details .comments .icon {
		font-size: 26px;
		vertical-align: middle;
	}


.load-more {
	text-align: center;
	margin-top: 10px;
}
.spinner {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #C17A24;

	border-radius: 100%;  
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	0% { -webkit-transform: scale(0) }
		100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% { 
		-webkit-transform: scale(0);
		transform: scale(0);
		} 100% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
		opacity: 0;
	}
}
