<a class="login-window-close" ng-click="$dismiss()"><i class="icon ion-ios-close-outline"></i></a>
<div class="login-window-content">
	<h3>Howdy!=)</h3>
	<p>Submiting posts is for members only=( If you'd like to become part of our community and have full access to all the features, please apply for the membership.</p>
	<a class="btn btn-brown" ui-sref="Membership" ng-click="$close()">Request membership</a>
	<p class="notice">No worries, memebrship is totally Free. We just trying to maintain a healthy volume of posts and thoughtful conversations.</p>
</div>