<a class="login-window-close" ng-show="currentStep.number == 2" ng-click="$dismiss()"><i class="icon ion-ios-close-outline"></i></a>
<div class="login-window-content">
	<div>
		<h3>{{ currentUser.instance.displayName }}, welcome to Dota Domination!</h3>
		<p>Please finish your account setup and pick your username.</p>
		<form ng-submit="finishProfile()">
			<input type="text" placeholder="Pick a username..." ng-model="profile.username">
			<!-- <input type="text" placeholder="Define your game style..." ng-model="profile.gamestyle"> -->
			<input type="text" placeholder="Enter your email address..." ng-model="profile.email">
			<input type="submit" class="btn btn-large btn-brown" value="Finish">
<!-- 			<input type="button" ng-click="nextStep()" class="btn btn-brown" value="Next Step"> -->
		</form>
	</div>


<!-- 	<div ng-switch="currentStep.number">
		<div ng-switch-when="1">
			
		</div>
		<div ng-switch-when="2">
			<h3>Hooray! Your account created!</h3>
			<img src="images/badge-temp.png"/>
			<h4>New Level Unlocked</h4>
			<p>Now you can navigate and <span>upvote posts</span> to help your friends and other community members discover new valuable content based on your advice.</p>
			<hr>
			<p>To unlock new skills like <span>submitting</span> and <span>commentig on posts</span> you need to get Memebrship status.</p>
			<a href="" class="btn btn-brown">Request Memebrship</a>
			<p class="notice">No worries, memebrship is totally Free. We just trying to maintain a healthy volume of posts and thoughtful conversations.</p>
		</div>
	</div> -->
</div>
