<style>
	.login-window .modal-dialog {
		background: transparent;
		text-align: center;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		background: rgba(0,0,0,.6);
	}
	.login-window .modal-content {
		position: relative;
		height: 100%;
	    background-color: transparent;

		-webkit-box-align: center;
		-moz-box-align: center;
		box-align: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		-ms-flex-align: center;
		display: -webkit-box;
		display: -moz-box;
		display: box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		box-pack: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
	}

	.login-window .login-window-close {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 30px;
		z-index: 999;
		cursor: pointer;
	}


	.login-window-content {
		text-align: center;
		width: 600px;
	}

	.login-window-content {

	  display: inline-block;
	  vertical-align: middle;
	}

	.login-window h3 {
		color: #C17A24;
		font-size: 24px;
		margin-bottom: 25px;
	}
	.login-window p {
		font-size: 17px
	}
	.login-window p.notice {
		color: #5E4322;
		font-size: 14px;

	}
	.login-window .btn {
		margin: 20px 0 30px;
	}
</style>

<!-- <a class="login-window-close" ng-click="$dismiss()"><i class="icon ion-ios-close-outline"></i></a> -->
<div class="login-window-content">
	<form ng-submit="finishProfile()">
		<input type="text" placeholder="Pick a username.." ng-model="profile.username">
		<input type="text" placeholder="Enter your email address.." ng-model="profile.email">
		<input type="submit" class="btn">
	</form>
</div>
