<a class="close lg" ng-show="currentStep === 2" ng-click="$dismiss()"><i class="icon ion-ios-close-outline"></i></a>

<div class="window-content">
	<div ng-show="currentStep === 1">
		<h3>{{ currentUser.instance.displayName }}, welcome to Gamers Net!</h3>
		<p>Please finish your account setup and pick a username.</p>
		<form ng-submit="finishProfile()">
			<input type="text" placeholder="Pick a username..." ng-model="currentUser.instance.username" required>
			<!-- <select ng-model="currentUser.instance.gamestyle">
				<option value="" disabled selected>Select your gamestyle...</option>
				<option disabled>Player</option>
				<option value="">&nbsp;Carry</option>
				<option value="">&nbsp;Mid Lanner</option>
				<option value="">&nbsp;Support</option>
			</select> -->
			<span uib-dropdown on-toggle="toggled(open)">
				<a href id="simple-dropdown" uib-dropdown-toggle>
					<input type="text" placeholder="Select your gamestyle..." ng-model="currentUser.instance.gamestyle" required>
				</a>
				<ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
					<li ng-repeat="style in ['Carry', 'Support', 'Top Laner', 'Mid Laner', 'Off Laner', 'Ganker', 'Jungler', 'Coach', 'Commentator', 'Caster', 'eSport Enthusiast', 'Occasional Viewer']">
						<a ng-click="currentUser.instance.gamestyle = style" >{{style}}</a>
					</li>
				</ul>
			</span>
			<input type="text" placeholder="Enter your email address..." ng-model="currentUser.instance.email" required>
			<input type="submit" class="btn btn-large btn-default" ng-hide="processing" value="Finish" />
			<div class="btn" ng-show="processing">
				<div class="spinner"></div>
			</div>
		</form>
	</div>

	<div ng-show="currentStep === 2">
		<h3>Congrats! Your account created!</h3>
		<img src="images/badge-temp.png"/>
		<h4>Newbie Level Unlocked</h4>
		<p>Now you can <span>Upvote Posts</span> to help your friends and other community members discover new interesting content based on your recommendations.</p>
		<hr>
		<p>To unlock new skills like <span>Submit Post</span> and <span>Comment on the Posts</span> you need to get Memebrship status.</p>
		<a href="" class="btn btn-primary" ng-click="requestMembership()" ng-hide="processing">Request Memebrship</a>
		<div class="btn" ng-show="processing">
			<div class="spinner"></div>
		</div>
		<p class="notice">No worries, memebrship is totally Free. We just trying to maintain a healthy volume of posts and thoughtful conversations.</p>
	</div>
</div>
