<div ng-include="'app/views/partial/nav.html'"></div>

<div id="index-view" class="main">
    <div class="post-list container" when-scrolled="loadNextPosts()" scroll-disabled="{{fetchBy === 'unapproved'}}">

        <div ng-hide="post_query" ng-repeat="collection in days track by $index" >

            <h3 class="title" ng-repeat-start"collection in days" ng-hide="fetchBy === 'unapproved'">
                <!-- Whatever you want at the start of a day block put here -->
                {{collection.date | date : 'fullDate'}}
            </h3>

            <div class="no-posts" ng-if="collection.posts.length === 0 && fetchBy !== 'unapproved'">
                There are no posts from this day.
            </div>

            <div ng-repeat="post in collection.posts | filter: { instance : { type : post_type } } : false" >
                <div class="post-item">
                    <a class="post-upvote">
                        <span  ng-hide="fetchBy === 'unapproved'" ng-click="upvotePost($index, post);" class="vote-arrow icon ion-chevron-up" aria-hidden="true"></span>
                        <span  ng-hide="fetchBy === 'unapproved'" ng-click="upvotePost($index, post);" class="vote-counter">{{post.instance.actions.votes.total}}</span>
                        <span  ng-show="fetchBy === 'unapproved'" ng-click="approvePost(post)"><span><span class="icon ion-checkmark" aria-hidden="true"></span></span>
                    </a>
                    <div class="post-thumbnail hidden-xs" ui-sref="Post({ slug : post.instance.slug })">
                        <img ng-src="{{post.instance.thumbnail}}" class="img-responsive">
                    </div>
                    <div class="post-desc" ui-sref="Post({ slug : post.instance.slug })">
                        <span class="post-category hidden-xs hidden-sm">{{post.instance.type}}</span>
                        <a class="post-title" ng-if="post.instance.type === 'game'">
                          <img ng-src="{{post.instance.team_1[0].logo}}" /> <b>{{ post.instance.team_1[0].name_short || post.instance.team_1[0].name }}</b> <span>vs</span> <b>{{ post.instance.team_2[0].name_short || post.instance.team_2[0].name }}</b> <img ng-src="{{post.instance.team_2[0].logo}}" />
                        </a>
                        <div class="post-meta hidden-xs" ng-if="post.instance.type === 'game'">{{post.instance.title}}</div>
                        <a class="post-title" ng-if="post.instance.type === 'link'">{{post.instance.title}}</a>
                        <!-- <div class="post-meta hidden-xs hidden-sm" ng-if="post.instance.type === 'link'">Originaly published on {{ post.instance.url | hostnameFromUrl }} on {{ post.instance.dt_create | date: 'EEE, d MMM' }}</div> -->                        
                    </div>
                    <div class="post-details" >
                        <img ng-src="{{ post.instance.owner.profileImg.split('_normal').join('') }}" class="author-avatar img-circle hidden-xs"
                        ui-sref="Profile({ username : post.instance.owner.username })">
                        <div class="comments" ng-hide="fetchBy === 'unapproved'" ui-sref="Post({ slug : post.instance.slug })">
                            <span class="icon ion-ios-chatbubble-outline" aria-hidden="true"></span>  <!-- {{post.instance.comment_count}} -->
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat-end"collection in days" ng-hide="fetchBy === 'unapproved'" >
              <div class="load-more" ng-show="days[$index].posts.length > 9 && collection.page !== false">
                  <a ng-click="loadNextPage(fetchBy, days[$index].date, $index)" ng-hide="days[$index].loading">more..</a>
                  <div class="spinner" ng-show="days[$index].loading"></div>
              </div>
              <br>
            </div>
        </div>

        <div ng-hide="noSearchResults">
            <div ng-show="noSearchResults" class="center-align grey-text">No results found matching, <b>{{post_query}}</b>. Please try another search.</div>
            <div ng-repeat="post in searchResults">

            </div>
        </div>

        <div class="load-more" ng-if="days.length <= 60" ng-hide="fetchBy === 'unapproved'">
            <a ng-show="processing" class="btn"><div class="spinner"></div>Loading posts...</a>
            <a ng-hide="processing">Scroll to load more posts..</a>
        </div>
    </div>
</div>
