<a class="close lg" ng-click="$dismiss()"><i class="icon ion-ios-close-outline"></i></a>
<div class="window-content">
	<img src="images/round.png" width="175"/>
	<h3>Login to Join The Community</h3>

	<p>Gamers Net is a place to share and chat about the latest news, videos and trends in Dota2 and eSport universe. Join us :)</p>
	<a class="btn btn-primary" ng-click="login()" analytics-on="click" analytics-event="Logged in with Twitter">Login with Twitter</a>
	<p class="notice">We'll never post to Twitter without your permission.</p>	
</div>