<div id="membership-page" class="main bg-solid">
	<div class="container">
		<p class="well"><img src="images/dragon-keeper.png" alt="" /> To maintain a healthy volume of posts and thoughtful conversations we limited access to commenting and posting on Dota Domination, and it available only for community Members.</p>

		<div ng-if="membershipRequested">
			<div ng-hide="processed">
				<div class="spinner"></div>
				<p>Calculating your position in line...</p>
			</div>

			<div ng-show="processed">
				<p>You're in the line already. We have added your email address to the waiting list. <span ng-if="currentPosition"> — you are currently #{{ currentPosition }}.</span></p>
				<h3>Want to cut the line and get your membership faster?</h3>
				<p>Get 5 of your friends to signup with this unique link:</p>
				<p><a href="{{share_link}}">{{ share_link }}</a></p>
				<div>
					<a class="btn btn-primary" href="https://www.facebook.com/sharer.php?u={{share_link}}&amp;t=Sign up to get early access to Domination!" target="_blank" title="Share on facebook"><i class="icon ion-social-facebook"></i> Share</a>
					<a class="btn btn-primary" href="https://twitter.com/share?url={{share_link}}&amp;text=Sign up to get early access to Domination!" target="_blank" title="Share on Twitter"><i class="icon ion-social-twitter"></i> Tweet</a>
					<a class="btn btn-primary" href="mailto:?subject=Check out Domination!&amp;body=I just signed up for Domination and thought you might be interested, too!&nbsp;{{share_link}}" title="Share via Email"><i class="icon ion-email"></i> Email</a>
				</div>
				<p>So far you have <span>{{ clicks }} clicks</span> and <span>{{ signups }} signups</span></p>
				<p>Get early access by referring your friends.<br/>The more friends that join, the sooner you'll get access.</p>
			</div>
		</div>


		<div ng-if="!membershipRequested && !currentUser.instance.prefinery_id">
			<p>Members can <span>upvote</span>, <span>comment</span> and <span>submit</span> new posts. For all the actions on the Gamers Net platfom you'll receive experience and medals that would allow you to levelup. The most active memebers would be granted with special prizes for the activities.</p>
			<a class="btn btn-primary" ng-click="requestMembership()" ng-hide="processing">Request Memebrship</a>
			<div ng-show="processing">
				<div class="spinner"></div>
			</div>
			<p class="notice">No worries, memebrship is totally Free.</p>
		</div>

	</div>
</div>
