<div class="main">
	<div class="post-view">

		<section id="post-header">
			<div ng-if="post.instance.type === 'link'">
				<h1 class="post-title" >{{ post.instance.title}}</h1>
			</div>

			<div ng-if="post.instance.type === 'game'">
				<h1 class="post-title">
					<img src="images/eg.png" />{{post.instance.team_1}}<span>vs</span>{{post.instance.team_2}}<img src="images/navi.png" />
				</h1>
				<h4>{{ post.instance.title }}</h4>
			</div>
		</section>

		<section id="post-info">
			<div class="post-meta">
				<span class="category" ng-show='post.instance.type'>{{post.instance.type}}</span>
				<div class="dates" ng-if="post.instance.type === 'game'"><i class="icon ion-calendar"></i> {{post.instance.date | date: 'EEE, d MMM'}} {{ post.instance.time }}</div>
			</div>
			<div class="post-actions">
				<a class="btn btn-primary btn-vote" ng-click="upvotePost(post);"><span class="counter">{{post.instance.actions.votes.total}}</span><span>Upvote</span></a>
				<a class="btn btn-default" href="{{post.instance.url}}/?ref=domination" target="_blank">Check</a>
				<a class="btn btn-default" href="">Share</a>
			</div>
		</section>

		<section id="post-details">
			<main>
				<div id="info" >
					<uib-tabset>
						<uib-tab active="true" ng-if="post.instance.type === 'game'" >
							<uib-tab-heading><h3 class="tab-heading">Video</h3></uib-tab-heading>
							<div class="video embed-responsive embed-responsive-16by9">

							</div>
						</uib-tab>
						<uib-tab>
							<uib-tab-heading><h3 class="tab-heading">Details</h3></uib-tab-heading>
							<p>{{post.instance.desc}}</p>
						</uib-tab>
					</uib-tabset>

				</div>
				<section id="discussion" ng-hide="post.instance">
					<div class="spinner" style="position: absolute;right: calc(50% - 60px);">

					</div>
				</section>
				<section id="discussion" ng-show="post.instance">
					<h3>Discussion</h3>

					<div class="no-data" ng-if="comments.length === 0">No comments have been left yet.</div>

					<span uib-dropdown on-toggle="toggled(open)" class="comment-filter" ng-hide="comments.length === 0">
						<a href="" id="simple-dropdown" uib-dropdown-toggle>Most upvoted <i class="icon ion-arrow-down-b"></i></a>
						<ul class="uib-dropdown-menu user-menu" aria-labelledby="simple-dropdown">
							<li><a href="#" ng-click="">most upvoted</a></li>
							<li><a href="#" ng-click="">newest</a></li>
							<li><a href="#" ng-click="">oldest</a></li>
						</ul>
					</span>

					<div class="post-comment" ng-repeat="comment in comments track by $index | orderBy : '-dt_create'" >
						<img ng-src="{{ comment.instance.owner.profileImg }}" class="user-img img-circle"/>

						<div class="comment-header">
							<span class="user-name">{{ comment.instance.owner.displayName }}</span>
							<span class="user-title">Ganker</span>
						</div>

						<div class="comment-body">
							<p>{{ comment.instance.body }}</p>
						</div>

						<div class="comment-actions">
							<a href=""><i class="icon ion-chevron-up"></i> 3</a>
							<a href="" ng-click="reply_open = !reply_open"><i class="icon ion-reply"></i> Reply</a>
							<a href="" class="share"><i class="icon ion-share"></i> Share</a>
							<span class="comment-time" am-time-ago="comment.instance.dt_create"></span>
						</div>

						<div ng-show="reply_open" class="comment-input">
							<textarea type="text" placeholder="Leave your reply..." ng-model="reply"></textarea>
							<button type="button" class="btn btn-default" ng-click="addReply(comment, reply, $index); reply_open = false; reply = ''">Submit</button>
						</div>

						<div class="comment-reply" ng-repeat="reply in comment.instance.actions.comments track by $index">
							<img ng-src="{{ reply.picture }}" class="user-img img-circle"/>
							<div class="reply-header">
								<span class="user-name">{{ reply.displayName }}</span>
							</div>

							<div class="reply-body">
								<p>{{ reply.text }}<span class="reply-time" am-time-ago="reply.dt_create"></span></p>
							</div>
							<div class="re-actions">

								<!-- <span ng-click="removeReply(comment, $index)" class="btn"><i class="icon ion-ios-close-outline"></i></span> -->
							</div>
						</div>

					</div>
					<div ng-show="post.instance">
						<div ng-show="currentUser.instance.givenRole.name === 'registered'  || currentUser.instance.givenRole.name === 'guest'">
							<div class="no-data" >Commenting is limited to community members. <br/> Please <a href="" ng-click="login()">Login</a> or <a ui-sref="Membership">Request membership</a>.</div>
						</div>
					</div>

					<div ng-show="post.instance">
						<div class="comment-input" ng-show="currentUser.instance.givenRole.name === 'moderator'  || currentUser.instance.givenRole.name === 'member'">
							<img ng-src="{{currentUser.instance.profileImg}}" class="user-img img-circle"/>
							<div class="input-group">
								<textarea type="text" placeholder="Leave your comment..." ng-model="comment"></textarea>
								<button type="button" class="btn btn-default" ng-click="addComment(comment, post.instance._id)">Submit</button>
							</div>
						</div>
					</div>


				</section>
			</main>

			<aside>
				<section id="submited-by" ng-show="post.instance">
					<label>SUBMITED ON {{ post.instance.dt_create | date:'MMM d' }}</label>
					<div>
						<img class="user-img img-circle" ng-src="{{post.instance.owner.profileImg}}" ui-sref="Profile({username : post.instance.owner.username})"/>
					</div>
				</section>

				<section id="played-by" ng-show="post.instance.type === game && played">
					<label>PLAYED</label>
					<div class="team">
						<img class="user-img img-circle" ng-src="images/dire-side.png" />
						<img class="user-img img-circle" ng-src="{{currentUser.profileImg}}" />
					</div>
					<div class="team">
						<img class="user-img img-circle" ng-src="images/dire-side.png" />
						<img class="user-img img-circle" ng-src="{{currentUser.profileImg}}" />
					</div>
				</section>

				<section id="upvoted-by" ng-show="post.instance.actions.votes.total !== 0 && post.instance" style="max-height:300px;overflow:scroll;">
					<label>UPVOTED</label>
					<div>
						<img class="user-img img-circle" ng-src="{{user.profileImg}}" ng-repeat="user in upvoters track by $index" ui-sref="Profile({username : user.username})"/>
					</div>
				</section>

				<section id="similar-posts" ng-show="similar">
					<label>SIMILAR POSTS</label>
					<div class="similar-post" ng-repeat="post in posts track by $index">
						<img src="images/video.png" class="similar-post-thumbnail" />
						<div class="similar-post-description">
							<div class="similar-post-header">{{ post.instance.title }} <span><i class="icon ion-chevron-up"></i> {{post.instance.actions.upvotes}}</span></div>
							<p>{{ post.instance.title }}</p>
						</div>
					</div>
				</section>

			</aside>

		</section>
	</div>
</div>
