<div class="main">
	<div class="profile-view container">

		<section id="profile-header">
			<div class="profile-avatar">
				<img ng-src="{{user_profile.instance.profileImg}}" />
			</div>

			<div class="profile-info">
				<h1 class="profile-title">{{ firstname }} <b>{{username}}</b> {{ lastname }}</h1>
				<h2 class="profile-subtitle">{{ gamestyle }} <span ng-show="user_profile.instance.team === true && user_profile.instance.team !== undefined">- {{ Team }} <img src="images/eg.png" /></span></h2>
				<div class="profile-social">
					<a href=""><i class="icon ion-social-twitter"></i></a>
					<a href=""><i class="icon ion-social-twitch-outline"></i></a>
					<a href=""><i class="icon ion-social-facebook"></i></a>
					<a href=""><i class="icon ion-social-youtube"></i></a>
				</div>
			</div>

			<div class="profile-actions">
				<a class="btn btn-primary" ng-show="followingUser === false && followingUser !== undefined" ng-click="follow()">Follow</a>
				<a class="btn btn-default" ng-show="followingUser && followingUser !== undefined" ng-click="unfollow()">Unfollow</a>
				<!-- <a class="btn btn-default">Share</a> -->
			</div>
		</section>

		<section id="profile-main">
			<main>
				<uib-tabset justified="true">
					<uib-tab heading="Upvoted">
						<div class="post-list">
							<div class="spinner" ng-hide="upvoted.length >= 0"></div>
							<div class="post-item" ng-repeat="post in upvoted">
								<a class="post-upvote" ng-click="upvotePost($index, post);">
									<span  class="vote-arrow icon ion-chevron-up" aria-hidden="true"></span>
									<span class="vote-counter">{{ post.actions.votes.total }}</span>
								</a>
								<div class="post-thumbnail" ui-sref="Post({ slug : post.slug })">
									<img ng-src="{{post.thumbnail}}" class="img-responsive">
								</div>
								<div class="post-desc" ui-sref="Post({ slug : post.slug })">
									<span class="post-category">{{post.type}}</span>
									<a class="post-title" ng-if="post.type === 'game'">{{post.team_1}} <span>vs</span> {{post.team_2}}</a>
									<a class="post-title" ng-if="post.type === 'link'">{{post.title}}</a>
									<div class="post-meta" ng-if="post.type === 'game'">{{post.title}}</div>
								</div>
								<div class="post-details" >
									<img ng-src="{{ post.owner.profileImg }}" class="author-avatar img-circle" ui-sref="Profile({ username : post.owner.username})">
									<div class="comments" ui-sref="Post({ slug : post.slug })"><span class="icon ion-ios-chatbubble-outline" aria-hidden="true"></span>  {{post.comment_count}}</div>
								</div>
							</div>
						</div>
					</uib-tab>

					<uib-tab heading="Submitted">
						<div class="post-list">
							<div class="spinner" ng-hide="submitted.length >= 0"></div>
							<div class="post-item" ng-repeat="post in submitted">
								<a class="post-upvote" ng-click="upvotePost($index, post);">
									<span  class="vote-arrow icon ion-chevron-up" aria-hidden="true"></span>
									<span class="vote-counter">{{ post.instance.actions.votes.total }}</span>
								</a>
								<div class="post-thumbnail" ui-sref="Post({ slug : post.instance.slug })">
									<img ng-src="{{post.thumbnail}}" class="img-responsive">
								</div>
								<div class="post-desc" ui-sref="Post({ slug : post.instance.slug })">
									<span class="post-category">{{post.instance.type}}</span>
									<a class="post-title" ng-if="post.instance.type === 'game'">{{post.instance.team_1}} <span>vs</span> {{post.instance.team_2}}</a>
									<a class="post-title" ng-if="post.instance.type === 'link'">{{post.instance.title}}</a>
									<div class="post-meta" ng-if="post.instance.type === 'game'">{{post.instance.title}}</div>
								</div>
								<div class="post-details" >
									<img ng-src="{{ post.instance.owner.profileImg }}" class="author-avatar img-circle" ui-sref="Profile({ username : post.instance.owner.username})">
									<div class="comments" ui-sref="Post({ slug : post.instance.slug })"><span class="icon ion-ios-chatbubble-outline" aria-hidden="true"></span>  {{post.instance.comment_count}}</div>
								</div>
							</div>
						</div>
					</uib-tab>

					<!-- <uib-tab heading="Played">

					</uib-tab> -->

					<uib-tab heading="Followers">
						<div class="follower-list">
							<div class="spinner" ng-hide="followedBy.length >= 0"></div>

							<div class="follower-item" ng-repeat="follower in followedBy track by $index" ui-sref="Profile({ username : follower.username })">
								<div class="follower-avatar">
									<img ng-src="{{follower.profileImg}}" />
								</div>
								<div class="follower-desc">
									<a class="follower-title">{{follower.displayName}} {{follower.username}}</a>
									<div class="follower-subtitle">{{follower.gamestyle}}</div>
								</div>
							</div>
						</div>
					</uib-tab>

					<uib-tab heading="Following">
						<div class="follower-list">
							<div class="spinner" ng-hide="following.length >= 0"></div>
							<div class="follower-item" ng-repeat="follower in following track by $index" ui-sref="Profile({ username : follower.username })">
								<div class="follower-avatar">
									<img ng-src="{{follower.profileImg}}" />
								</div>
								<div class="follower-desc">
									<a href="#" class="follower-title">{{follower.displayName}} {{follower.username}}</a>
									<div class="follower-subtitle">{{follower.gamestyle}}</div>
								</div>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
			</main>
		</section>

	</div>
</div>
