<div id="profile-page" class="main">
	<div class="container">

		<section id="profile-header">
			<div class="profile-avatar" ng-show="user_profile.instance.profileImg">
				<img ng-src="{{ user_profile.instance.profileImg.split('_normal').join('') }}" class="img-circle"/>
			</div>

			<div class="profile-info">
				<h1 class="profile-title">{{ firstname }} <b>{{username}}</b> {{ lastname }}</h1>
				<h2 class="profile-subtitle">{{ gamestyle }} <span ng-show="user_profile.instance.team === true && user_profile.instance.team !== undefined">- {{ Team }} <img src="images/eg.png" /></span></h2>
				<div class="profile-social">
					<a ng-show="user_profile.instance.identities.twitter._json.screen_name" href="https://twitter.com/{{ user_profile.instance.identities.twitter._json.screen_name }}" target="_blank"><i class="icon ion-social-twitter"></i></a>
					<a ng-show="user_profile.instance.twitch_id" href="http://www.twitch.tv/{{ user_profile.instance.twitch_id }}" target="_blank"><i class="icon ion-social-twitch-outline"></i></a>
					<a ng-show="user_profile.instance.facebook_handle" href="https://facebook.com/{{ user_profile.instance.facebook_handle }}" target="_blank"><i class="icon ion-social-facebook"></i></a>
					<a ng-show="user_profile.instance.youtube_channel" href="https://www.youtube.com/user/{{ user_profile.instance.youtube_channel }}" target="_blank"><i class="icon ion-social-youtube"></i></a>
				</div>
			</div>

			<div class="profile-actions">
				<a class="btn btn-primary" ng-show="followingUser === false && followingUser !== undefined" ng-click="follow()">Follow</a>
				<a class="btn btn-default" ng-show="followingUser && followingUser !== undefined" ng-click="unfollow()">Unfollow</a>
				<span uib-dropdown on-toggle="toggled(open)">
					<a href="" class="btn btn-default" id="simple-dropdown" uib-dropdown-toggle>Share</a>
					<ul class="uib-dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown">
						<li><a href="#"><i class="icon ion-social-twitter"></i> Tweet</a></li>
						<li><a href="#"><i class="icon ion-social-facebook"></i> Share</a></li>
						<li><a href="#" ng-click=""><i class="icon ion-email"></i> Email</a></li>
					</ul>
				</span>
			</div>
		</section>

		<section id="profile-main">
			<main>
				<uib-tabset justified="true">
					<uib-tab heading="Upvoted">
						<div class="post-list">
							<div class="spinner" ng-hide="upvoted.length >= 0"></div>
							<div class="post-item" ng-repeat="post in upvoted">
								<a class="post-upvote" ng-click="upvotePost($index, post);">
									<span  class="vote-arrow icon ion-chevron-up" aria-hidden="true"></span>
									<span class="vote-counter">{{ post.actions.votes.total }}</span>
								</a>
								<div class="post-thumbnail hidden-xs" ui-sref="Post({ slug : post.slug })">
									<img ng-src="{{post.thumbnail}}" class="img-responsive">
								</div>
								<div class="post-desc" ui-sref="Post({ slug : post.slug })">

									<span class="post-category hidden-xs hidden-sm">{{ post.type }}</span>
									<a class="post-title" ng-if="post.type === 'game'"><img ng-src="{{post.team_1[0].logo}}" style="max-height:30px;" /> {{ post.team_1[0].name }} <span>vs</span> {{ post.team_2[0].name }} <img ng-src="{{post.team_2[0].logo}}" style="max-height:30px;" /></a>
									<div class="post-meta hidden-xs hidden-sm" ng-if="post.type === 'game'">{{ post.title }}</div>
									<a class="post-title" ng-if="post.type === 'link'">{{ post.title }}</a>
									<div class="post-meta hidden-xs hidden-sm" ng-if="post.type === 'link'">Originaly published on {{ post.url | hostnameFromUrl }} on {{ post.dt_create | date: 'EEE, d MMM' }}</div>
									
								</div>
								<div class="post-details" >
									<img ng-src="{{ post.owner.profileImg.split('_normal').join('') }}" class="author-avatar img-circle hidden-xs" ui-sref="Profile({ username : post.owner.username})">
									<div class="comments" ui-sref="Post({ slug : post.slug })"><span class="icon ion-ios-chatbubble-outline" aria-hidden="true"></span>  {{ post.comment_count }}</div>
								</div>
							</div>
						</div>
					</uib-tab>

					<uib-tab heading="Submitted">
						<div class="post-list">
							<div class="spinner" ng-hide="submitted.length >= 0"></div>
							<div class="post-item" ng-repeat="post in submitted">
								<a class="post-upvote" ng-click="upvotePost($index, post);">
									<span  class="vote-arrow icon ion-chevron-up" aria-hidden="true"></span>
									<span class="vote-counter">{{ post.instance.actions.votes.total }}</span>
								</a>
								<div class="post-thumbnail hidden-xs" ui-sref="Post({ slug : post.instance.slug })">
									<img ng-src="{{ post.instance.thumbnail }}" class="img-responsive">
								</div>
								<div class="post-desc" ui-sref="Post({ slug : post.instance.slug })">

									<span class="post-category hidden-xs hidden-sm">{{post.instance.type}}</span>
									<a class="post-title" ng-if="post.instance.type === 'game'"><img ng-src="{{post.instance.team_1[0].logo}}" style="max-height:30px;" />	{{post.instance.team_1[0].name}} <span>vs</span> {{post.instance.team_2[0].name}} <img ng-src="{{post.instance.team_2[0].logo}}" style="max-height:30px;" /></a>
									<div class="post-meta hidden-xs hidden-sm" ng-if="post.instance.type === 'game'">{{post.instance.title}}</div>
									<a class="post-title" ng-if="post.instance.type === 'link'">{{post.instance.title}}</a>
									<div class="post-meta hidden-xs hidden-sm" ng-if="post.instance.type === 'link'">Originaly published on {{ post.instance.url | hostnameFromUrl }} on {{ post.instance.dt_create | date: 'EEE, d MMM' }}</div>
									
								</div>
								<div class="post-details" >
									<img ng-src="{{ post.instance.owner.profileImg.split('_normal').join('') }}" class="author-avatar img-circle hidden-xs" ui-sref="Profile({ username : post.instance.owner.username})">
									<div class="comments" ui-sref="Post({ slug : post.instance.slug })"><span class="icon ion-ios-chatbubble-outline" aria-hidden="true"></span>  {{post.instance.comment_count}}</div>
								</div>
							</div>
						</div>
					</uib-tab>

					<!-- <uib-tab heading="Played">

					</uib-tab> -->

					<uib-tab heading="Followers">
						<div class="follower-list">
							<div class="spinner" ng-hide="followedBy.length >= 0"></div>

							<div class="follower-item" ng-repeat="follower in followedBy track by $index" ui-sref="Profile({ username : follower.username })">
								<div class="follower-avatar">
									<img ng-src="{{follower.profileImg.split('_normal').join('')}}" class="img-circle" />
								</div>
								<div class="follower-desc">
									<h4 class="follower-title">
										{{follower.displayName.split(" ")[0]}}
										<b>{{follower.username}}</b>
										<span ng-show="follower.displayName.split(' ').length > 1">{{follower.displayName.split(" ")[follower.displayName.split(" ").length - 1]}}</span>
									</h4>
									<div class="follower-subtitle">{{follower.gamestyle}}</div>
								</div>
							</div>
						</div>
					</uib-tab>

					<uib-tab heading="Following">
						<div class="follower-list">
							<div class="spinner" ng-hide="following.length >= 0"></div>
							<div class="follower-item" ng-repeat="follower in following track by $index" ui-sref="Profile({ username : follower.username })">
								<div class="follower-avatar">
									<img ng-src="{{follower.profileImg.split('_normal').join('')}}" class="img-circle"/>
								</div>
								<div class="follower-desc">
									<h4 class="follower-title">
										{{follower.displayName.split(" ")[0]}}
										<b>{{follower.username}}</b>
										<span ng-show="follower.displayName.split(' ').length > 1">{{follower.displayName.split(" ")[follower.displayName.split(" ").length - 1]}}</span>
									</h4>
									<div class="follower-subtitle">{{follower.gamestyle}}</div>
								</div>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
			</main>
		</section>

	</div>
</div>
