<style>
	#profile-header {
		margin: 70px 30px 60px;
		display: -webkit-box;
	    display: -moz-box;
	    display: box;

	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;

	    -webkit-box-align: center;
		align-items: center;
	}
	.profile-info {
		flex-grow: 1;
	}
	.profile-avatar {
		position: relative;
		display: inline-block;
		margin-right: 25px;
	}
	.profile-avatar img {
		height: 100px;
		border-radius: 50%;
		border: 2px solid #704715;
	}
	.profile-title {
		font-size: 28px;
		color: #EE8709;
		line-height: 32px;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		margin: 5px 0 10px;
	}
	.profile-subtitle {
		font-size: 18px;
		color: #8B572A;
		line-height: 24px;
		margin: 0 0 10px;
	}
	.profile-subtitle img {
		height: 18px;
		margin-left: 5px;
	}
	.profile-social a {
		font-size: 16px;
		color: #5E4322;
		margin-right: 8px;
	}
	.profile-social a:hover {
		color: #8B572A;
	}
	.profile-actions {
		margin-top: 10px;
	}
	#profile-main .nav {
	    margin-bottom: 30px;
	    text-transform: uppercase;
	}
	#profile-main .nav > li > a {
		padding-bottom: 20px;
	}
	#profile-main .nav-tabs > li > a {
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid rgba(112,70,21,0.55);
	}
	#profile-main .nav-tabs > li.active > a,
	#profile-main .nav-tabs > li.active > a:focus,
	#profile-main .nav-tabs > li.active > a:hover {
		color: #C17A24;
		background: transparent;
		border: 0;
		cursor: pointer;
		border-bottom: 2px solid #C17A24;
	}
	.follower-list .col-md-4 {
		padding: 10px;
	}
	#profile-main .post-list {
		width: 100%;
	}

.follower-avatar {

}
.follower-avatar img {
	border: 2px solid #704715;
	margin-right: 15px;
	width: 48px;
	cursor: pointer;
	border-radius: 50%;
}
.follower-title {
	font-size: 18px;
	color: #C17A24;
	line-height: 21px;
}
.follower-subtitle {
	font-size: 15px;
	color: #704715;
	line-height: 23px;
}
.follower-subtitle img {
	display: inline-block;
	height: 16px;
}
</style>

<div class="main">
	<div class="profile-view container">

		<section id="profile-header">
			<div class="profile-avatar">
				<img ng-src="{{user_profile.instance.profileImg}}" />
			</div>

			<div class="profile-info">
				<h1 class="profile-title">{{ user_profile.instance.displayName }}</h1>
				<h2 class="profile-subtitle">Ganker - <span>Domination Team</span><img src="images/eg.png" /></h2>
				<div class="profile-social">
					<a href=""><i class="icon ion-social-twitter"></i></a>
					<a href=""><i class="icon ion-social-twitch-outline"></i></a>
					<a href=""><i class="icon ion-social-facebook"></i></a>
					<a href=""><i class="icon ion-social-youtube"></i></a>
				</div>
			</div>

			<div class="profile-actions">
				<a class="btn btn-brown" ng-click="follow()">Follow</a>
				<a class="btn btn-brown">Share</a>
			</div>

		</section>

		<section id="profile-main">
			<main>

				<uib-tabset justified="true">
					<uib-tab heading="Upvoted">
						<div class="post-list container">
							<div>
								<div ng-show="noResults" class="center-align grey-text">No Questions Have Been Posted Yet<span ng-if="!currentUser">, Sign In To Post a Question</span></div>

								<div class="row" ng-repeat="post in upvoted" ui-sref="Post({ slug : post.slug })">
									<div class="post-item col-md-10 col-md-offset-1">
										<a class="post-upvote">
											<span class="vote-arrow glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
											<span class="vote-counter">{{post.actions.votes.total}}</span>
										</a>
										<div class="post-thumbnail">
											<img src="images/video.png" alt="" class="img-responsive">
										</div>
										<div class="post-desc">
											<a class="post-category btn btn-brown btn-xs" href="">{{post.type}}</a>
											<a href="#" class="post-title">{{post.title}}</a>
											<div class="post-meta">{{post.desc}}</div>
										</div>
										<div class="post-details">
											<img ng-src="{{post.owner.profileImg}}" class="author-avatar img-circle">
											<div class="comments"><span class="icon ion-ios-chatbubble-outline" aria-hidden="true"></span>&nbsp;{{ post.actions.comments.length}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>

					<uib-tab heading="Submitted">
						<div class="post-list container">
							<div class="row" ng-repeat="post in submitted" ui-sref="Post({ slug : post.instance.slug })">
								<div class="post-item col-md-10 col-md-offset-1">
									<a class="post-upvote">
										<span class="vote-arrow glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
										<span class="vote-counter">{{post.instance.actions.votes.total}}</span>
									</a>
									<div class="post-thumbnail">
										<img src="images/video.png" alt="" class="img-responsive">
									</div>
									<div class="post-desc">
										<a class="post-category btn btn-brown btn-xs" href="">{{post.instance.type}}</a>
										<a href="#" class="post-title">{{post.instance.title}}</a>
										<div class="post-meta">{{post.instance.desc}}</div>
									</div>
									<div class="post-details">
										<img ng-src="{{post.instance.owner.profileImg}}" class="author-avatar img-circle">
										<div class="comments"><span class="icon ion-ios-chatbubble-outline" aria-hidden="true"></span>&nbsp;{{ post.instance.actions.comments.length}}</div>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>

					<uib-tab heading="Played">

					</uib-tab>

					<uib-tab heading="Followers">
						<div class="follower-list row">
							<div ng-hide="post_query">
								<div ng-repeat="post in postCollection track by $index" ui-sref="Post({ id : post.instance._id })">
									<div class="col-md-4">
										<div class="follower-item">
											<div class="follower-avatar">
												<img ng-src="{{post.instance.owner.profileImg}}" />
											</div>
											<div class="follower-desc">
												<a href="#" class="follower-title">{{post.instance.title}}</a>
												<div class="follower-subtitle">{{post.instance.desc}} <img src="images/eg.png" /> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>

					<uib-tab heading="Following">

					</uib-tab>
				</uib-tabset>

			</main>
		</section>

	</div>
</div>
