<style>
			.modal {
	  text-align: center;
	}

	@media screen and (min-width: 768px) {
	  .modal:before {
	    display: inline-block;
	    vertical-align: middle;
	    content: " ";
	    height: 100%;
	  }
	}

	.modal-dialog {
	  display: inline-block;
	  text-align: left;
	  vertical-align: middle;
	}

	.submit-window .modal-content {
		background: #221306;
		border: 1px solid #4A2D13;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		border-radius: 3px;
	}
	.submit-window-close {
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 24px;
		z-index: 999;
		cursor: pointer;
	}
	.submit-header {
	    display: block;
    	position: absolute;
    	text-align: center;
    	margin: 10px;
    	width: 100%;
    	color: #C17A24;
	}
	.submit-header h3 {
		margin: 15px 0 5px;
		font-size: 26px;
	}
	.submit-window ul {
		padding-top: 90px;
		background-image: url(../images/popup-bg.jpg);
	}
	.submit-window .tab-content {
		padding: 5px 20px 15px;
	}
	.submit-window .input-field {
		margin: 15px 0;
		display: flex;
	}
	.submit-window .input-field label {
		font-size: 14px;
		color: #704715;
		line-height: 40px;
		margin-bottom: 0;
		text-transform: uppercase;
		width: 100px;
	}
	.submit-window .input-field label i {
		margin-right: 10px;
	}
	.submit-window .input-field input {
		background: rgba(31,25,17,0.80);
		border: 1px solid #4A2D14;
		border-radius: 3px;
		font-size: 15px;
		color: #8B572A;
		padding: 6px 12px;
		outline: none;
		flex-grow: 1;
	}
	.submit-window .input-field textarea {
	    background: rgba(31,25,17,0.80);
	    border: 1px solid #4A2D14;
	    border-radius: 3px;
	    font-size: 15px;
	    color: #704715;
	    line-height: 18px;
	    padding: 6px;
	    outline: none;
	    resize: none;
	    flex-grow: 1;
	}
	.submit-window .input-field button {
		margin: 15px auto 0;

	}
	.submit-window .nav {
	    text-transform: uppercase;
	}
	.submit-window .submit-btn {
		width: 50%;
    left: 25%;
    position: relative;
	}
	.submit-window .nav-tabs > li > a {
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid rgba(112,70,21,0.55);
	}
	.submit-window .nav-tabs > li.active > a,
	.submit-window .nav-tabs > li.active > a:focus,
	.submit-window .nav-tabs > li.active > a:hover {
		color: #C17A24;
		background: transparent;
		border: 0;
		cursor: pointer;
		border-bottom: 2px solid #C17A24;
	}
	.input-field.date-select input {
		width: auto;
		flex-grow: 0;
	}
	.input-field.date-select button {
		background: transparent;
		margin-top: 0;
		border: 1px solid #4A2D14;
		color: #825319;
		outline: none;
	}
	.input-field.date-select button:focus,
	.input-field.date-select button:active, {
		outline: none;
	}
	.input-field.date-select button i {
		padding: 5px 3px 7px;
	}
	.date_picker {
		width:calc(100% - 146px) !important;
		height:40px;
	}
	.date_picker + ul {
		background-image:none;
		padding:15px;
		outline:0;
		top:5px !important;
		right:20px;
	}
	.date_picker + ul > li > div > table {
		width:100%;
	}
	*:focus { outline:0; }

	input:required:valid, textarea:required:valid {
    background: rgba(31,25,17,0.80);
    border:1px solid #C17A24;
}
input:required:valid span > button {
	border:1px solid #C17A24;

}
span[ng-message] {
	background-color:rgba(31,25,17,0.80);
	border:1px solid #4A2D14;
	color:#8B572A;
	font-weight:200;
}
</style>


<div>
	<a class="submit-window-close" ng-click="$dismiss()"><i class="icon ion-ios-close-outline"></i></a>
	<div class="submit-header">
		<h3>Submit a new post</h3>
		<p>Know something interesting? Share it with your mates!</p>
	</div>
	<uib-tabset justified="true">
		<uib-tab heading="Link" select="tabs.post = { type : 'link' }">
			<form name="link" ng-submit="newPost()">
				<div class="input-field">
					<label><i class="icon ion-ios-lightbulb"></i>Title</label>
					<input type="text" ng-model="tabs.post.title"  ng-required="true" name="title" placeholder="Enter post title..." autofocus>
				</div>
				<div class="input-field">
					<label><i class="icon ion-link"></i>Link</label>
					<input type="text" ng-model="tabs.post.url"  ng-required="true" name="link" placeholder="http://www...">
				</div>
				<div class="input-field">
					<label><i class="icon ion-android-create"></i>Desc</label>
					<textarea type="text" ng-model="tabs.post.desc"  ng-required="true" name="desc" placeholder="Describe the post briefly..."></textarea>
				</div>
				<span ng-messages="link.title.$error" ng-if="link.title.$touched">
						<span class="label label-default" ng-message="required">Title is required.</span>
				</span>
				<span ng-messages="link.link.$error" ng-if="link.link.$touched">
						<span class="label label-default" ng-message="required">Link is required.</span>
				</span>
				<span ng-messages="link.desc.$error" ng-if="link.desc.$touched">
						<span class="label label-default" ng-message="required">Description is required.</span>
				</span>
				<div class="input-field submit-btn">
					<button type="submit" class="btn btn-brown">Submit</button>
				</div>
			</form>
		</uib-tab>

		<uib-tab heading="Game" select="tabs.post = { type : 'game' }">
			<form name="game" ng-submit="newPost()">
				<div class="input-field">
					<label><i class="icon ion-ios-lightbulb"></i>Title</label>
					<input type="text" ng-model="tabs.post.title" name="title" ng-required="true" placeholder="Enter post title..." autofocus>
				</div>
				<div class="input-field dropdown-select">
					<label><i class="icon ion-ios-people"></i>Team 1</label>
					<input type="text" ng-model="tabs.post.team_1" name="team_1" ng-required="true" placeholder="Enter first team name..." autofocus>
				</div>
				<div class="input-field dropdown-select">
					<label><i class="icon ion-ios-people"></i>Team 2</label>
					<input type="text" ng-model="tabs.post.team_2" name="team_2" ng-required="true" placeholder="Enter second team name...">
				</div>
				<div class="input-field date-select" style="display:flex">
					<label><i class="icon ion-android-calendar"></i>Date</label>

					<input type="text" class="date_picker" show-weeks="false" class="form-control" placeholder="Select A Date.." ng-model="tabs.post.date"  name="date" ng-required="true" ng-click="status = !status" uib-datepicker-popup is-open="status" close-text="Close" style="flex-grow:1"/>
					<span class="input-group-btn" style="position: absolute;font-size: 0;white-space: nowrap;right: 59px;margin-top:1px">


						<button type="button" style="margin-left: -4px;border:none;border-left:1px solid #4A2D14" class="btn btn-default" ng-click="status = !status"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>

				</div>
				<div class="input-field">
					<label><i class="icon ion-link"></i>Link</label>
					<input type="text" ng-model="tabs.post.url"  name="link" ng-required="true" placeholder="http://www...">
				</div>
				<div class="input-field">
					<label><i class="icon ion-android-create"></i>Desc</label>
					<textarea type="text" ng-model="tabs.post.desc" name="desc" ng-required="true" placeholder="Describe the game briefly..."></textarea>
				</div>
				<span ng-messages="game.title.$error" ng-if="game.title.$touched">
						<span class="label label-default" ng-message="required">Title is required.</span>
				</span>
				<span ng-messages="game.team_1.$error" ng-if="game.team_1.$touched">
						<span class="label label-default" ng-message="required">Team 1 is required.</span>
				</span>
				<span ng-messages="game.team_2.$error" ng-if="game.team_2.$touched">
						<span class="label label-default" ng-message="required">Team 2 is required.</span>
				</span>
				<span ng-messages="game.date.$error" ng-if="game.date.$touched">
						<span class="label label-default" ng-message="required">Date is required.</span>
				</span>
				<span ng-messages="game.link.$error" ng-if="game.link.$touched">
						<span class="label label-default" ng-message="required">Link is required.</span>
				</span>
				<span ng-messages="game.desc.$error" ng-if="game.desc.$touched">
						<span class="label label-default" ng-message="required">Description is required.</span>
				</span>
				<div class="input-field submit-btn">
					<button type="submit" ng-disabled="!game.$valid" class="btn btn-brown btn-block col-sm-6 col-sm-offset-3">Submit</button>
				</div>
			</form>
		</uib-tab>

	</uib-tabset>
</div>
